:root {
    --brown01: #583101;
    --brown02: #6f4518;
    --brown03: #8b5e34;
    --brown04: #a47148;
    --brown05: #bc8a5f;
    --brown06: #d4a276;
    --brown07: #e7bc91;
    --brown08: #f3d5b5;
    --brown09: #ffedd8;
    --brown10: #ede0d4;
    --brown11: #f4f3ee;
    --brown12: #bcb8b1;
    --brown13: #8a817c;
    --brown14: #463f3a;
    --red01: #78290f;
    --red02: #8c1c13;
    --red03: #bf4342;
    
}